
.profile {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
}

.profile h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.profile input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.profile input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.profile button {
    width: 100%;
    padding: 10px;
    background: purple;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.profile button:hover {
    background: rgb(90, 3, 90);
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.Toastify__toast {
    font-size: 16px;
    border-radius: 6px;
}

.Toastify__toast--success {
    background-color: #28a745;
}

.Toastify__toast--error {
    background-color: #dc3545;
}
